 .iconic-user-fields {
  a {
      margin-right: 5px;
  }
  .fa {
      font-size: 1.2em;
   color: #{$icon-color};
  }
  .fa.d-icon.svg-icon.svg-string {
      margin-left: 0px;
  }
}


#user-card {
  .card-content {
      padding-top: 31px;
  }
  .usercard-controls {
      margin-top: -19px;
  }
  &.no-bg .card-content {
      padding-top: 12px;
      margin-top: 19px;
  }
}
