 .iconic-user-fields {
  a {
      margin-right: 5px;
  }
  .fa {
      font-size: 1.2em;
      color: #000;
  }
  .fa.d-icon.svg-icon.svg-string {
      margin-left: 0px;
  }
}
.primary-textual h3 > .ember-view:not(:first-child) {
  margin-left: 10px;
}

// offset user card flair movement 
// but should only be applied if the icons are present, otherwise it looks dumb
.user-card-avatar.avatar-flair {
 margin-bottom: 1.2em;
}


#user-card {
  .card-content {
      padding-top: 31px;
  }
  .usercard-controls {
      margin-top: -19px;
  }
  &.no-bg .card-content {
      padding-top: 12px;
      margin-top: 19px;
  }
  span.ember-view {
      position: relative !important;
  }
}
